*.log
../logs/

*.tmp
*.temp

__pycache__

*.pyc
*.pyo
*.pyd

.tox
.coverage
.coverage.*
.cache

nosetests.xml
coverage.xml

*.cover
*.log*

.git
.mypy_cache
.pytest_cache
.hypothesis

env
venv
.idea
.vscode